<footer class="flex justify-between bg-secondary px-7 py-4 mt-8 rounded-t-lg">
  <a href="/">
    <img src="{{ '/assets/illustration/logo.svg' | url }}" alt="" />
  </a>
  <div class="flex gap-5">
    <div class="flex flex-col">
      <p class="font-head">Navigation</p>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="flex flex-col">
      <p class="font-head">Newsletters</p>
      <a href="#">Developer</a>
      <a href="#">Designer</a>
    </div>
    <div class="flex flex-col gap-1">
      <p class="font-head">Social</p>
      <a href="#">Discord</a>
      <a href="#">Pinterest</a>
    </div>
  </div>
</footer>
