<footer class="flex items-center bg-secondary px-7 py-4 rounded-t-lg mt-auto">
  <a href="/">
    <img src="{{ '/assets/illustration/logo.svg' | url }}" alt="" />
  </a>
  <div class="flex gap-2 ml-auto">
    <div class="flex flex-col">
      <p class="font-head">Navigation</p>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="flex flex-col">
      <p class="font-head">Newsletters</p>
      <a href="/developer">Developer</a>
      <a href="/designer">Designer</a>
    </div>
    <div class="flex flex-col">
      <p class="font-head">Social</p>
      <a href="#">Discord</a>
      <a href="#">Pinterest</a>
    </div>
  </div>
</footer>
