<header class="py-4 container mx-auto">
  <nav class="flex flex-row">
    <a href="/">
      <img src="{{ '/assets/illustration/logo.svg' | url }}" alt="" />
    </a>
    <ul class="ml-auto flex gap-2">
      <a class="text-neutral-600 hover:text-neutral-900" href="/">Home</a>
      <!-- <a class="text-neutral-600 hover:text-neutral-900" href="/blog">Blog</a> -->
      <a class="text-neutral-600 hover:text-neutral-900" href="/about">About</a>
      <a class="text-neutral-600 hover:text-neutral-900" href="/contact"
        >Contact</a
      >
    </ul>
  </nav>
</header>
