{% for post in postslist | reverse %}

<article>
  <img
    class="rounded-md shadow-md shadow-slate-600"
    src="{{ post.data.image }}"
    alt=""
  />
  <div>
    <h2>{{ post.data.title }}</h2>
    <p>{{ post.data.description }}</p>
  </div>
  <a class="btn-secondary" href="{{ post.url }}">Read Now</a>
</article>
{% endfor %}
