/* src/css/tailwind.css*/

@import url("https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono&family=Space+Grotesk:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-4xl font-head mb-5 mt-3;
  }
  h2 {
    @apply font-bold text-3xl font-head mb-4 mt-3;
  }
  h3 {
    @apply font-bold text-2xl font-head mb-4 mt-3;
  }
  h4 {
    @apply font-bold text-xl font-head mb-3 mt-3;
  }
  p {
    @apply mb-3;
  }
  section {
    @apply mb-4;
  }
}

@layer components {
  .btn {
    color: #0d0d0d;
    background: #c1fba4;
    border: 1px solid #0d0d0d;
    box-shadow: 2px 2px 0px #000000;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
  }

  .btn:hover {
    background: transparent;
  }

  .btn-secondary {
    @apply text-dark bg-transparent shadow rounded py-2 px-5 font-bold border-2 border-dark hover:bg-dark hover:text-white;
  }
  .custom-grid {
    grid-template-rows: auto 1fr;
  }
}
