---
layout: base.njk
title: Ultalogic Blog - Guides and Tutorials for Web Developers and Designers
---

<section>
  <h1>Blog</h1>
  <div class="grid grid-row-2 gap-5 md:grid-cols-2">
    {% for post in collections.posts | reverse %} {% include "postsnippet.njk"
    %} {% endfor %}
  </div>
</section>
