---
layout: base.njk
title: Designer newsletter - Tools and resources for web designers
---

<section class="flex items-center pt-5">
  <div>
    <h1 class="max-w-md">Discover the best tools for designers</h1>
    <p class="max-w-md">
      A free weekly email digest of the best tools for designers.
    </p>
    <p class="font-extra font-bold">Coming SOON!!</p>
  </div>
  <img
    class="ml-auto"
    src="{{ '/assets/illustration/Design-Vector.svg' | url }}"
    alt=""
  />
</section>
