---
layout: base.njk
title: Home
---

<section class="flex flex-col-reverse py-6 items-center md:flex-row">
  <div>
    <h1 class="max-w-lg">Stop spending time on finding resources</h1>
    <p class="max-w-md">
      Join are free weekly newsletters for best resources on the web
    </p>
    <a class="btn hover:bg-transparent" href="#">Join Now</a>
  </div>
  <img
    class="m-auto md:ml-auto md:mr-0"
    src="{{ './assets/illustration/Hero-Illustration.svg' | url }}"
    alt=""
  />
</section>
<section
  class="bg-secondary flex flex-col items-center rounded-md p-5 md:flex-row"
>
  <img src="{{ './assets/illustration/Dev-Vector.svg' | url }}" alt="" />
  <div class="md:ml-auto">
    <h2>Developer</h2>
    <p class="max-w-md">
      Our Developer resource newsletter consists of all kind of tool that a
      devloper need
    </p>
    <div class="flex flex-col md:flex-row gap-3">
      <a class="btn hover:bg-transparent max-w-max" href="#">Join Now</a>
      <a class="btn-secondary max-w-max md:ml-1" href="#">Latest Issue</a>
    </div>
  </div>
</section>
<section class="flex flex-col-reverse items-center px-5 md:flex-row">
  <div>
    <h2>Designer</h2>
    <p class="max-w-md">
      Our Designer resource newsletter consists of all kind of tool that a
      designer need
    </p>
    <div class="flex flex-col md:flex-row gap-3">
      <a class="btn hover:bg-transparent max-w-max" href="#">Join Now</a>
      <a class="btn-secondary max-w-max md:ml-1" href="#">Latest Issue</a>
    </div>
  </div>
  <img
    class="m-auto md:ml-auto md:mr-0"
    src="{{ './assets/illustration/Design-Vector.svg' | url }}"
    alt=""
  />
</section>
<section>
  {% set maxPosts = collections.posts.length | min(2) %}
  <h2 class="pb-2">Blog</h2>
  <div class="grid grid-row-2 gap-5 md:grid-cols-2">
    {% set postslist = collections.posts | head(-4) %} {% set postslistCounter =
    collections.posts | length %} {% include "recent.njk" %}
  </div>
</section>
