---
layout: base.njk
title: Home
---

<section class="flex py-6 items-center">
  <div>
    <h1 class="max-w-lg">Stop spending time on finding resources</h1>
    <p class="mb-4">
      Join are free weekly newsletters for best resources on the web
    </p>
    <a class="btn hover:bg-transparent" href="#">Join Now</a>
  </div>
  <img
    class="ml-auto"
    src="{{ './assets/illustration/Hero-Illustration.svg' | url }}"
    alt=""
  />
</section>
<section>
  <div>
    <h1>Developer</h1>
  </div>
</section>
